.breadcrumbs {
	margin-top: 41px;
	font-size: 14px;
	color: #858585;

	@media screen and (max-width: $break_md) {
		font-size: 13px;
	}

	@media screen and (max-width: $break_sm) {
		margin-top: 20px;
	}

	a, a span {
		color: #858585;
		text-decoration: none;
	}

	a:not([class]) {
		text-decoration: none;
	}

	span {
		color: #2c2c2c;
	}
}
