.burger__menu-btn {
    margin-left: auto;
	position: relative;
    z-index: 1;

    margin-right: 15px;

	height: 64px;
	width: 64px;

    background-color: transparent;
	border: none;
	border-radius: 6px;
	box-shadow: none;
	cursor: pointer;

	display: none;

	@media screen and (max-width: 992px) {
		display: block;
	}

	span {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(calc(-50% - .5px));
		z-index: 25;
		display: block;
		width: 64px;
		height: 1px;
		transition: 0.25s;
		background-color: #fff;

		pointer-events: none;

		&::before,
		&::after {
			display: block;
			width: 64px;
			height: 1px;
			content: "";
			transition: 0.25s;
			background-color: #fff;
		}

		&::before {
			transform: translateY(8px);
		}

		&::after {
			transform: translateY(-9px);
		}
	}

	&.toggle {
		span {
			width: 0;

			&::before {
				transform: translateY(0) rotate(45deg);
			}

			&::after {
				transform: translateY(-2px) rotate(-45deg);
			}
		}
	}
}