// font-family: "Vollkorn", serif;
// font-family: "Cygre", sans-serif;

@use "sass:math";

html {
	box-sizing: border-box;

	font-size: 10px;
	text-rendering: auto;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;

	display: flex;
	flex-direction: column;

	min-width: 32rem;
	min-height: 100vh;
	overflow-x: hidden;

	color: var(--color-text);

	font-family: var(--font-family);
	// font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;

	/*Перенос длинных слов*/
	overflow-wrap: break-word;
	word-wrap: break-word;

	background-color: var(--bg-color);

	font-weight: 400;
	font-size: 24px;
	line-height: 130%;
	letter-spacing: -0.01em;
	color: #fff;

	@media screen and (max-width: 1400px) {
		font-size: 20px;
	}

	@media screen and (max-width: 992px) {
		font-size: 16px;
	}

	&.toggle {
		// height: 100vh;
		overflow-y: hidden;
	}
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.container {
	width: 100%;
	max-width: var(--containerWidth);
	margin: 0 auto;
	padding: 0 30px;

	@media screen and (max-width: $break_md) {
		padding: 0 15px;
	}
}

.container-col {
	width: 100%;
	max-width: var(--containerWidthHalf);

	padding: 0 30px;

	@media screen and (max-width: $break_md) {
		padding: 0 15px;
	}

	@media screen and (max-width: 768px) {
		max-width: 100%;
	}
}

h2 {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 40px;
	line-height: 100%;
	letter-spacing: -0.01em;
	color: #fff;

	@media screen and (max-width: 1400px) {
		font-size: 36px;
	}

	@media screen and (max-width: 992px) {
		font-size: 32px;
	}
}

a {
	color: var(--color-text);
	text-decoration: none;
}

a:not([class]) {
	text-decoration: underline;
	color: var(--color-text);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.hidden {
	display: none;
}

.no-scroll {
	overflow: hidden;
}

.main {
	position: relative;
	z-index: 5;

	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.page-title {
	margin-top: 0;

	font-family: var(--second-family);
	font-weight: 400;
	line-height: 1;
	letter-spacing: -0.01em;
	color: #fff;
	text-align: center;

	font-size: 72px;

	@media screen and (max-width: 1400px) {
		font-size: 62px;
	}

	@media screen and (max-width: 992px) {
		font-size: 42px;
	}

	@media screen and (max-width: 768px) {
		font-size: 36px;
	}
}

.content {
	.section-title {
		margin: 0;
	}
	ul,
	ol {
		display: flex;
		flex-direction: column;
		gap: 16px;

		@media screen and (max-width: 768px) {
			gap: 12px;
		}
	}

	ul {
		list-style-type: disc;
		padding-left: 20px;

		li {
			&::marker {
				color: #ae946d;
			}
		}
	}
	b {
		font-weight: 700;
		color: var(--color-accent);
	}
}
.content-cols {
	margin-bottom: 120px;
	display: flex;
	gap: 160px;

	@media screen and (max-width: 1600px) {
		gap: 80px;
	}

	@media screen and (max-width: 1400px) {
		margin-bottom: 80px;
	}

	@media screen and (max-width: 1200px) {
		gap: 40px;
	}

	@media screen and (max-width: 992px) {
		margin-bottom: 40px;
	}

	@media screen and (max-width: 768px) {
		gap: 24px;
		flex-direction: column;
	}

	&:last-child {
		margin-bottom: 0;
	}
}
.content-cols__item {
}
.content-cols__item--title {
	width: calc(50% - 160px);

	@media screen and (max-width: 1600px) {
		width: calc(50% - 80px);
	}

	@media screen and (max-width: 1200px) {
		width: calc(50% - 40px);
	}

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}
.content-cols__item--descr {
	width: 50%;
	flex-shrink: 0;

	font-family: var(--font-family);
	font-weight: 400;
	font-size: 24px;
	line-height: 130%;
	letter-spacing: -0.01em;
	color: #fff;

	@media screen and (max-width: 1400px) {
		font-size: 18px;
	}

	@media screen and (max-width: 992px) {
		font-size: 14px;
	}

	@media screen and (max-width: 768px) {
		width: 100%;
	}

	b {
		font-weight: 700;
		color: #ae946d;
	}

	& > * {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

h3:not([class]) {
	margin-top: 4rem;
	margin-bottom: 1.5rem;

	font-family: "Raleway", sans-serif;
	font-size: 3.2rem;
	font-weight: 600;
	line-height: 1.18;
}

.hidden-text {
	@media screen and (max-width: $break_sm) {
		display: none;

		&.active {
			display: block;
		}
	}
}

.text-center {
	text-align: center;
}

.show-text {
	display: none;

	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
	padding: 0;

	text-decoration: underline;
	color: var(--color-main);

	border: none;
	background-color: transparent;

	@media screen and (max-width: $break_sm) {
		display: inline-block;
	}
}

.swiper__prev,
.swiper__next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 4.2rem;
	width: 4.2rem;
	border-radius: 50%;
	background-color: rgba(254, 254, 254, 0.9);

	background-image: url("../img/icons/arrow.svg");
	background-repeat: no-repeat;
	background-position: center;

	box-shadow: rem rem 0.3rem rem #b3b3b3;

	z-index: 1;
	cursor: pointer;

	@media screen and (max-width: $break_sm) {
		height: 3.2rem;
		width: 3.2rem;
	}
}

.swiper__prev {
	left: calc(-4.2rem - 1.5rem);
	transform: translateY(-50%) rotate(180deg);

	@media screen and (max-width: 120rem) {
		left: -1.5rem;
	}
}

.swiper__next {
	right: calc(-4.2rem - 1.5rem);

	@media screen and (max-width: 120rem) {
		right: -1.5rem;
	}
}

.swiper-button-disabled {
	opacity: 0.5;
	cursor: auto;
}

.swiper-pagination-bullet-active {
	background-color: var(--color-main) !important;
}

// Страница показа верстки
.verstka {
	background-color: #f5f5f5;
	color: #000;

	.index {
		.info {
			padding: 2.5rem;
			background-color: #fff9c4;
		}

		a {
			text-decoration: underline;
			color: #06c;
		}
	}
}

.booking-form {
}

.booking-form__img {
	display: block;
	width: 100%;
	height: auto;
}
