@use "sass:math";

// Брейкпоинты

$break_lg: 1200px;
$break_md: 992px;
$break_ssm: 800px;
$break_sm: 768px;
$break_xs: 480px;
$break_xxs: 330px;

:root {
	// Цвета
	--color-text: #fff;
	--color-accent: #ae946d;
	--color-accent-hover: #d1b790;

	--bg-color: #212123;
	--bg-color2: #181819;

	// Шрифты
	--font-family: "Onest", sans-serif;
	--second-family: "Vollkorn", serif;

	// Скругления
	--brs: 4px;
	@media screen and (max-width: 480px) {
		--brs: 2px;
	}

	// Размеры

	--containerWidth: 1630px; // ширина контейнера
	--containerWidthHalf: calc(
		var(--containerWidth) / 2
	); // ширина половины контейнера

	// --containerIndent: (calc(100% - var(--containerWidth)) / 2);
	--containerIndent: calc((100vw - var(--containerWidth) + 60px) / 2);
	@media screen and (max-width: 1630px) {
		--containerIndent: 0;
	}

	--indentBlocks: 120px;
	@media screen and (max-width: 992px) {
		--indentBlocks: 80px;
	}
	@media screen and (max-width: 768px) {
		--indentBlocks: 40px;
	}
}
