section.section.about
	.about-row

		.about-col
			.container-col
				.about-text
					.about-text__top
						h1.section-title.about-title Отель «Вилла Лана»
						p.about-subtitle г. Зеленоградск
					.about-text__bottom
						p Представьте место в Зеленоградске, где шум Балтийского моря успокаивает душу, морской бриз освежает мысли, а удивительная первозданная природа заряжает энергией.
						p Здесь, в окружении тишины и спокойствия, рядом с живописной набережной и песчаным пляжем уютно расположился мини-отель Вилла Лана — комфортный уголок для идеального отдыха в любой сезон.

		.about-col
			.about-img
				img(src="img/about/about.jpg", alt="")
