mixin advantagesItem(img, title, descr)
	li.advantages-list__item.advantages-item(data-img=""+img)
		.advantages-item__img
			img(src=""+img, alt="")
		.advantages-item__box
			span.advantages-item__title #{title}
			.advantages-item__descr
				p #{descr}

section.section.advantages
	.container
		h2.section-title.advantages-title Наши преимущества
		.advantages-box
			.advantages-img
				.advantages-img__box
			.advantages-list
				ul.advantages-list__wrapper
					+advantagesItem(
						'img/advantages/01.jpg',
						'Выгодное расположение отеля',
						'Море находится всего в 50 метрах от отеля. До центра, вокзала, кафе, магазинов, баров, ресторанов, торговых центров и музеев можно дойти за несколько минут. В то же время на территории отеля тихо и спокойно. Для автомобиля найдется место на охраняемой парковке, рассчитанной на 10 мест.'
					)
					+advantagesItem(
						'img/advantages/02.jpg',
						'Комфортные зоны отдыха',
						'На шезлонгах, расположенных среди деревьев и цветов, можно почитать книгу или полистать соцсети в телефоне, подключившись к Wi-Fi. Есть несколько номеров с отдельным входом и патио на улице. Также бесплатно предоставляется прокат велосипедов на час.'
					)
					+advantagesItem(
						'img/advantages/03.jpg',
						'Завтраки на террасе',
						'Мы готовим роскошные домашние завтраки, йогурты, джемы, лимонады. Шведский стол входит в стоимость номера. В обеденной зоне есть кофемашина и кулер, а в номерах — чайники. Несколько номеров оборудованы мини-кухней с посудой для приготовления еды.'
					)
					+advantagesItem(
						'img/advantages/04.jpg',
						'Подогреваемый бассейн',
						'Насладиться полноценным отдыхом и понежиться в теплой воде в любое время года позволит подогреваемый бассейн. Он работает с июня. Гостям отеля бесплатно предоставляются пляжные полотенца и зонты. В конце дня можно расслабиться и согреться в номере с сухой сауной с отдельным входом.'
					)
