section.section.content.section--top-rooms
	.container
		.content-cols
			.content-cols__item.content-cols__item--title
				h1.section-title.section-title--h1 Номерной фонд отеля Вилла Лана
			.content-cols__item.content-cols__item--descr
				p Всем постояльцам доступны свежие постельные принадлежности, тапочки, полотенца, бесплатный Wi-Fi, сейф и холодильник. В комплектацию номеров также входят москитные сетки, чайная станция, телевизор и средства гигиены.
				p Вы можете прямо на сайте выбрать и забронировать номер в гостинице в Зеленоградске Калининградской области, чтобы насладиться тихим и спокойным отдыхом на побережье Балтийского моря.
				p Комфортабельная гостиница предлагает разнообразие номеров, способных удовлетворить любые ваши предпочтенияи потребности.
.booking-form
	img(src="img/bronirovanie.jpg", alt="").booking-form__img
	img(src="", alt="").booking__mob

