section.section.content
	.container
		.content-cols
			.content-cols__item.content-cols__item--title
				h2.section-title Отдых в&nbsp;отеле в&nbsp;Зеленоградске
			.content-cols__item.content-cols__item--descr
				p Если вы хотите разнообразить приятный и спокойный отдых в номерах нашего отеля и получить незабываемые впечатления, вы можете выбрать:
				ul
					li
						b Прогулки по городу.
						|	Прокатитесь на велосипеде по живописной набережной, исследуйте достопримечательности, такие как национальный парк «Куршская коса», рыцарский замок или соберите янтарь прямо на пляже.
					li
						b Релакс и заботу о здоровье.
						|	Посетите сауну, полечитесь минеральной водой для восстановления сил и энергии.
					li
						b Отдых на свежем воздухе.
						|	На территории отеля вы найдете комфортные шезлонги для солнечных ванн и бассейн.
				p В мини-отеле Вилла Лана мы делаем все возможное, чтобы ваш отдых был максимально комфортным и насыщенным. Наша задача — заботиться о вас и создавать все условия для комфортного пребывания у берега Балтийского моря.
				p Чтобы узнать стоимость бронирования и снять номер в отеле в Зеленоградске Калининградской области, оставьте заявку на сайте или свяжитесь с нами по телефону.