section.section.content
	.container
		.content-cols
			.content-cols__item.content-cols__item--title
				h2.section-title Комфортный отель рядом с Балтийским морем
			.content-cols__item.content-cols__item--descr
				p Семейный отель Вилла Лана находится в г. Зеленоградск Калининградской области. Двери гостиницы открыты для всех, кто мечтает насладиться уединением на побережье Балтийского моря или получить неподдельное удовольствие от семейного отпуска с детьми. Каждый гость нашего отеля может чувствовать себя как дома.
				p Нам есть чем порадовать даже самых взыскательных постояльцев:

				ul
					li
						b Широкий номерной фонд.
						|	Мы предлагаем разнообразие номеров, оформленных с особой заботой и любовью к гостям. Стандартные номера с курортным пейзажем, полулюксы с собственной террасой, двухкомнатные люкс и делюкс с балконами и великолепным видом, а также уютные апартаменты с кухней и террасой – выбор за вами.
					li
						b Близость к песчаному пляжу и природе.
						|	Гостиница находится на второй линии, что практически на берегу Балтийского моря. Живописная природа — всего в нескольких шагах от вас.
					li
						b Инфраструктура для комфортного проживания.
						|	У нас есть круглосуточная охраняемая парковка, бесплатный Wi-Fi и бассейн на территории.
					li
						b Продуманный интерьер.
						|	В любой сезон можно бронировать отель на выходные или для длительного отдыха. В номерах предусмотрены санузлы, кухни, террасы, удобные кровати и диваны — все, чтобы вам было комфортно жить.
					li
						b Первоклассный сервис.
						|	Наши администраторы готовы в любое время прийти к вам на помощь и ответить на вопросы. Персонал обязательно проследит, чтобы пространство вокруг вас было чистым, а еда по-домашнему вкусной.
				p Если вы хотите посетить живописные места, насладиться природой и недорого снять отель с завтраком и баней — Вилла Лана станет идеальным местом, куда вы будете возвращаться снова и снова. Наша гостиница находится всего в 30 минутах езды от города Калининграда и в 50 метрах от Балтийского моря. Здесь всегда приятный климат, свежий воздух и красивые закаты — настоящий оазис для ценителей спокойствия и уединения.


		.content-cols
			.content-cols__item.content-cols__item--title
				h2.section-title Отдых у моря в мини-отеле Вилла Лана
			.content-cols__item.content-cols__item--descr
				p Интересует недорогой, но максимально комфортный и тихий отдых у моря? Предлагаем на официальном сайте гостиницы забронировать понравившийся номер. Цена проживания рассчитывается для каждого гостя индивидуально с учетом персональных скидок. Чтобы уточнить возможность бронирования отеля на удобные вам даты, проконсультироваться по возникшим вопросам и узнать больше о прекрасном отдыхе в Зеленоградске, оставьте заявку на сайте или по телефону.

