.first-screen

	div

	.container
		.first-screen__box
			p.first-screen__title Будьте как дома
			.first-screen__descr
				p Мы&nbsp;постарались, чтобы это были не&nbsp;просто слова.
				p &laquo;Вилла Лана&raquo;&nbsp;&mdash; это мини-отель на&nbsp;второй линии с&nbsp;вместительной парковкой, уютными номерамии домашними завтраками.

	.booking
		img(src="img/bronirovanie.jpg", alt="").booking__pc
		img(src="", alt="").booking__mob