footer.footer

	.footer_map
		<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A317847fd5cc3a2c0a45b6ddf201396df2f6042a09fe1ab5ce7a06f6f30874eff&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>

	.footer__right.footer-right

		.footer-right__top

			.footer-right__box

				span.footer__title.section-title «Вилла Лана»

				.footer__text
					p ул. Гагарина 3а, г. Зеленоградск, Калининградская область, 238530

				.footer__contacts.footer-contacts

					.footer-contacts__phon
						a(href="tel:+79062387438") +7 (9062) 38-74-38
						a(href="tel:+74015033410") +7 (4015) 03-34-10

					.footer-contacts__socials.socials
						a(href="#").socials__item
							img.socials__ico(src="img/socials/whatsapp.svg", alt="")
						a(href="#").socials__item
							img.socials__ico(src="img/socials/viber.svg", alt="")
						a(href="#").socials__item
							img.socials__ico(src="img/socials/insta.svg", alt="")

				.footer__btns
					a(href="#").footer-btn.btn Забронировать номер
					a(href="#").footer-btn.btn.btn--transparent Свяжитесь с нами

		.footer-right__bottom.footer-bottom

			.footer-right__box


				.footer-bottom__links
					a(href="#") Политика конфиденциальности
					a(href="#") Пользовательское соглашение
					a(href="#") Правовая информация
					a(href="#") Карта сайта

				.footer-bottom__box
					p.footer-bottom__copyrihgt Гостиница «Вилла Лана» © 2024

					a(href="#").footer-bottom__developer
						span Продвижение сайта —
						img(src="img/rocket.png", alt="")