//- header.header.transparent
header.header
	a.header-logo(href="/")
		img(src="img/logo.svg", alt="")
	nav.header-nav
		ul.header-nav__list
			li.header-nav__item
				a.header-nav__link(href="#") Главная
			li.header-nav__item
				a.header-nav__link(href="#") Номера
			li.header-nav__item
				a.header-nav__link(href="#") Акции
			li.header-nav__item
				a.header-nav__link(href="#") Отзывы
			li.header-nav__item
				a.header-nav__link(href="#") О нас
			li.header-nav__item
				a.header-nav__link(href="#") Контакты
	a.header-nav__phone(href="tel:+79062387438") +7 906 238 74 38
	a.header-nav__btn.btn(href="#") Заказать звонок
	button.mobile-menu-btn.burger__menu-btn.js-burger.jsMobileMenuBtnToggle
		span





