//- .hot-info
	.hot-info__img
		img(src="img/hot-info/01.jpg", alt="")
	.hot-info__box
		span.hot-info__title Вместе выгоднее!
		.hot-info__descr
			p Получите скидку 8% при единовременном бронировании от 3-х номеров.
			p Введите промокод «ВСЕВМЕСТЕ» при бронировании номеров на нашем сайте.
	.hot-info__btn

.hot-info
	a(href="#")
		.hot-info__img
			img(src="img/hot-info/01.jpg", alt="")
		.hot-info__box
			span.hot-info__title Скидка 5%
			.hot-info__descr
				p Получите скидку 5% по промокоду «Кранц». Введите промокод при бронировании номера на сайте, чтобы получить скидку.
				p Промокод не суммируется с другими акциями.
	.hot-info__btn


