.mobile-menu
	.mobile-menu__top
	.mobile-menu__bottom
		.socials
			a(href="#").socials__item
				img.socials__ico(src="img/socials/whatsapp.svg", alt="")
			a(href="#").socials__item
				img.socials__ico(src="img/socials/viber.svg", alt="")
			a(href="#").socials__item
				img.socials__ico(src="img/socials/insta.svg", alt="")