mixin reviewsSliderItem(img, name, city, rating, descr)
	.reviews-slider__item.rs-item.swiper-slide
		.rs-item__top
			.rs-item__left
				img(src="img/reviews-slider/"+img, alt="").rs-item__img
				.rs-item__about
					span.rs-item__name #{name}
					span.rs-item__city #{city}
			.rs-item__right
				span.rs-item__rating #{rating}
				img(src="img/reviews-slider/service-icon.png", alt="").rs-item_icon
		.rs-item__content
			p #{descr}
		.rs-item__bottom
			span.rs-item__toggle Показать ещё
			a(href="#").rs-item__link Перейти в Яндекс.Карты




section.section.reviews-slider
	.container
		.reviews-slider__top.section-top
			h2.section-title.section-top__title Отзывы
			.slider-arrows.section-top__arrows
				.slider-arrows__prew.reviews-slider__prew
				.slider-arrows__next.reviews-slider__next
			a(href="#").section-top__all.reviews-slider__all Смотреть все

		.reviews-slider__swiper.swiper
			.reviews-slider__wrapper.swiper-wrapper
				+reviewsSliderItem(
					'01.png',
					'Василий',
					'Москва',
					'5/5',
					'Очень атмосферное место. Уютное, тихое, удобное,как любимое одеяло. Отдельные дифирамбы завтраку: разнообразный, сытный, есть, что выбрать, и приверженцам ЗОЖ, и любителям жирненьких колбасок и варенья, и фанатам кофе. Интерьер очень красивый, глаз отдыхает, и всё тело сразу расслабляется. Один минус - нестабильнаятемпература воды в душе. Пока моешься, приходится постоянно крутить ручку смесителя, чтобы не обжечься и не замёрзнуть.',
				)
				+reviewsSliderItem(
					'01.png',
					'Василий',
					'Москва',
					'5/5',
					'Очень атмосферное место. Уютное, тихое, удобное,как любимое одеяло. Отдельные дифирамбы завтраку: разнообразный, сытный, есть, что выбрать, и приверженцам ЗОЖ, и любителям жирненьких колбасок и варенья, и фанатам кофе. Интерьер очень красивый, глаз отдыхает, и всё тело сразу расслабляется. Один минус - нестабильнаятемпература воды в душе. Пока моешься, приходится постоянно крутить ручку смесителя, чтобы не обжечься и не замёрзнуть.',
				)
				+reviewsSliderItem(
					'01.png',
					'Василий',
					'Москва',
					'5/5',
					'Очень атмосферное место. Уютное, тихое, удобное,как любимое одеяло. Отдельные дифирамбы завтраку: разнообразный, сытный, есть, что выбрать, и приверженцам ЗОЖ, и любителям жирненьких колбасок и варенья, и фанатам кофе. Интерьер очень красивый, глаз отдыхает, и всё тело сразу расслабляется. Один минус - нестабильнаятемпература воды в душе. Пока моешься, приходится постоянно крутить ручку смесителя, чтобы не обжечься и не замёрзнуть.',
				)
				+reviewsSliderItem(
					'01.png',
					'Василий',
					'Москва',
					'5/5',
					'Очень атмосферное место. Уютное, тихое, удобное,как любимое одеяло. Отдельные дифирамбы завтраку: разнообразный, сытный, есть, что выбрать, и приверженцам ЗОЖ, и любителям жирненьких колбасок и варенья, и фанатам кофе. Интерьер очень красивый, глаз отдыхает, и всё тело сразу расслабляется. Один минус - нестабильнаятемпература воды в душе. Пока моешься, приходится постоянно крутить ручку смесителя, чтобы не обжечься и не замёрзнуть.',
				)
