include ../includes/mixins

doctype html
html(lang="ru-RU")
	include ../includes/head
	body
		include ../includes/header
		main.main.blog
			include ../includes/content-blog
		include ../includes/footer
		include ../includes/mobile-menu


