include ../includes/mixins

doctype html
html(lang="ru-RU")
    include ../includes/head
    body
        include ../includes/header
        main.main
            include ../includes/first-screen
            include ../includes/about
            include ../includes/special-offers
            include ../includes/our-rooms
            include ../includes/slider-gallery
            include ../includes/advantages
            include ../includes/about-info
            include ../includes/reviews-slider
            include ../includes/articles-slider
            include ../includes/content-home
        include ../includes/footer
        include ../includes/mobile-menu
        include ../includes/hot-info


