//- Важно!!! Если чистим папку dist, то после запуска сборщика нужно скопировать src/img/sprite.svg в dist/img/sprite.svg . Сборщик портит данный файл и спрайт некорректно отображается на сверстанной странице. Надо будет работу со спрайтами пофиксить.

include ../includes/mixins

//- Для pageType указать тип страницы
- var pageType = 'blog-post';

//- home - главная страница
if pageType === 'home'
	include home

//- our-rooms - номера
if pageType === 'our-rooms'
	include our-rooms

//- room-detail - детальная страница номера
if pageType === 'room-detail'
	include room-detail

//- blog - страница блога
if pageType === 'blog'
	include blog

//- blog-post - Страница отдельного поста блога
if pageType === 'blog-post'
	include blog-post


//- index - для показа верстки
if pageType === 'index'
	include verstka

