include ../includes/mixins

doctype html
html(lang="ru-RU")
    include ../includes/head
    body
        include ../includes/header
        main.main.room-detail
            include ../includes/content-room-detail
        include ../includes/footer
        include ../includes/mobile-menu


